.cellStyle{
    width: 47px;
    height: 14px;
    margin: 0 429px 0 369px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.36px;
    text-align: left;
    color: #919eb1;
  }

  .risko_meter{
    display: contents;
    height: 21px !important;
   
    font-family: Roboto !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: #3c3e42 !important;
  }
  .Level-of-Risk-in-the-Scheme{
    
    height: 16px;
    
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #7b7b9d;
  }


  .This-is-a-moderately-high-risk-fund {
 
 
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.73;
    letter-spacing: normal;
    text-align: left;
    color: #3c3e42;
  }
  
  .This-is-a-moderately-high-risk-fund .text-style-1 {
    
    font-weight: normal;
    color: #7b7b9d;
  }
  
  .This-is-a-moderately-high-risk-fund .text-style-2 {
   
    color: #7b7b9d;
  }

  .button_text{
  text-transform: capitalize;
  opacity: 0.87;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7b7b9d;
  }

  .ProgressTitle{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #7b7b9d;
  }

  .viewmoretext{
    height: 16px !important;
    margin: 23px 168px 0 6px !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.5 !important;
    letter-spacing: normal !important;
    text-align: right !important;
    color: #6495ED;
  }
  .viewtext{
    height: 16px !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.5 !important;
    letter-spacing: normal !important;
    text-align: right !important;
    color: #6495ED;
  }

  .percentageValue{
    width: 46px;
    height: 16px !important;
    inline-size: -webkit-fill-available !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1 !important;
    letter-spacing: normal;
    text-align: right !important;
    color: #3c3e42 !important;
  }

  .burgerText{
   
  height: 14px !important;
  font-family: Roboto !important;
  font-size: 12px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: left !important;
  color: var(--cornflower) !important;
  }