




.MuiGrid-root .pincodeClass {
     display: flex;
    margin-top: -8px;
    margin-bottom: 34px;
    padding: 0px;
    margin-left: -8px;
    margin-right: -9px;
    flex-direction: inherit;
}
@media (max-width:780px) {
    .MuiGrid-root .pincodeClass {
        display: flex;
       margin-top: -8px;
       margin-bottom: 34px;
       padding: 0px;
       margin-left: -8px;
       margin-right: -9px;
       flex-direction: inherit;
   }
}




@media (max-width:768px) {
    .css-1o59boh .MuiTextField-root {
        width: 100% !important;
    }
    .MuiGrid-root .pincodeClass {
        margin-bottom: 34px;
        margin-left: -4px;
        margin-right: -5px;
    }
    .css-zow5z4-MuiGrid-root.MuiGrid-container {
        width: calc(100% + 160px) !important;
    }

    .IpadStyle {
        overflow: inherit;
    }

    .css-1fkyat8-MuiGrid-root {
        overflow: inherit !important;
    }

    .css-q98jr-MuiTypography-root {
        font-size: 0.7rem !important;
    }

    .css-skdto5 button {
        margin: 0px !important;
        padding: 0px 0px !important;
    }

    .css-skdto5 {
        margin-right: 68px !important;
        justify-content: space-between;
        display: flex;
        margin-left: 15px !important;

    }}
 

    @media (max-width:560px) {
    .MuiGrid-root .pincodeClass {
        margin-top: -8px;
        margin-bottom: 34px;
        margin-left: -9px;
        margin-right: -5px;
    }
    .css-skdto5 {
        margin-right: 46px !important;
        justify-content: space-between;
        display: flex;
        margin-left: 15px !important;
    }

    .css-1o59boh .MuiTextField-root {
        width: 100% !important;
    }

    .css-zow5z4-MuiGrid-root.MuiGrid-container {
        width: calc(100% + 24px) !important;
    }

}