@media (max-width:3000px) {
    .pincodestayle {
        margin: 8px !important;
        width: 242px !important;
        height: 16px !important;
    }
}





.MuiGrid-root .pincodeClass {
    display: flex;
    margin-top: -8px;
    margin-bottom: 34px;
    padding: 0px;
    margin-left: -8px;
    margin-right: -9px;
    flex-direction: inherit;
}
/* @media (max-width:912px) {
    .thirdboxstyle{
        
      
   
    width: 37vw !important;
    margin-left: 20% !important;
    }


    .paddingviewprofilestyle {
        margin-left: -5% !important;
       
        padding-left: 2% !important;
        width: 37vw !important;
    }
} */

@media (max-width:780px) {
    .MuiGrid-root .pincodeClass {
        display: flex;
        margin-top: -8px;
        margin-bottom: 34px;
        padding: 0px;
        margin-left: -8px;
        margin-right: -9px;
        flex-direction: inherit;
    }
}

/* mediaqueary 900px */

@media (max-width:820px) {
    .pincodestayle {
        margin: 8px !important;
        width: 242px !important;
        height: 16px !important;
    }  
    .buttontransgender{
        width: 36% !important;
         /* margin: 10px !important; */
         padding-left: 17px !important;
         min-width: 43% !important;
     }
     .malestyle{
        width: 20px !important;
        min-width: 43% !important;
        
    }
    .femalestyle{
        
        margin: -4px!important;
        min-width: 43% !important;
        
    }
    .css-1o59boh .MuiTextField-root {
        width: 100% !important;
        /* min-width: 43% !important; */
    }

    .IpadStyle {
        overflow: inherit;
    }



    .paddingstyle {

        margin-left: -16px !important;
        width: 37.5vw !important;
    }

    .paddingstyle_style {
        margin-left: 49px !important;
        width: 42vw !important;
    }

    .graphUlipStyle {

        width: 96% !important;
    }

    .investWholeStyle {
        margin-left: 7% !important;
    }
    .paddingviewprofilestyle {
        margin-left: 0% !important;
        margin-right: -2% !important;
        padding-left: 8% !important;
    }


}

/* mediaqueary 860px */
/* meidaqueary 768px */

@media (max-width:768px) {
    .css-1o59boh .MuiTextField-root {
        width: 100% !important;
    }

    .MuiGrid-root .pincodeClass {
        margin-bottom: 34px;
        margin-left: -4px;
        margin-right: -5px;
    }


    .IpadStyle {
        overflow: inherit;
    }



    .css-q98jr-MuiTypography-root {  
        font-size: 0.7rem !important;
    }

    .css-skdto5 button {
        margin: 1px !important;
        padding: 0px 0px !important;

    }

    .buttontransgender {
        width: 40% !important;
        margin: 8px !important
    }

    .femalestyle {
        width: 30% !important;
        margin: -4px !important;
    }

    .css-skdto5 {
        margin-right: 68px !important;
        justify-content: space-between;
        display: flex;
        margin-left: 15px !important;

    }

    .pincodestayle {
        margin: 8px;
        width: 239px;
        height: 16px;

    }

    .graphUlipStyle {

        width: 96% !important;
    }

    .investWholeStyle {
        margin-left: 7% !important;
    }

    .paddingstyle {

        margin-left: -16px !important;
        width: 39vw !important;
    }

    .paddingstyle_style {
        margin-left: 55px !important;
        width: 42vw !important;
        border-radius: 11px !important;
    }
    .paddingviewprofilestyle {
        margin-left: 0% !important;
        margin-right: -2% !important;
        padding-left: 2% !important;
    }

}


@media (max-width:560px) {
    .MuiGrid-root .pincodeClass {
        margin-top: -8px;
        margin-bottom: 34px;
        margin-left: -9px;
        margin-right: -5px;
    }

    .css-skdto5 {
        margin-right: 46px !important;
        justify-content: space-between;
        display: flex;
        margin-left: 15px !important;
    }

    .css-1o59boh .MuiTextField-root {
        width: 100% !important;
    }


    .buttontransgender {
        width: 40% !important;
        margin: 8px !important
    }

    .paddingviewprofilestyle {
        padding-left: 1% !important;
        border-radius: 33px !important;
        width: 93% !important;
    }

    .paddingstyle {

        margin-left: -26px !important;
        width: 90vw !important;
        border-radius: 11px !important;
    }

    .paddingstyle_style {
        margin-left: -23px!important;
        width: 93vw!important;
        border-radius: 11px !important;
        margin-top: 3% !important;
    }

    .investWholeStyle {
        margin-left: -3% !important;
    }

    .ToastterStyle {
        position: relative !important;
        top: 32vw !important;
        left: -75vw !important;
    }

    .WholeBodyStyleUlip {
        width: 95.75vw !important;
        border-radius: 8px !important;
        margin-top: -35% !important;
    }

    .NoLockinperiod {
        padding-left: 32px !important;
        transform: translate(10px, 10px) !important;
        width: 100% !important;
        margin: -40px !important;
        padding-top: 43px !important;
    }

    .boxviewstyle {
        color: black !important;
    }

    .thirdboxstyle {


        padding-left: 1% !important;
        border-radius: 33px !important;
        width: 96% !important;
    }

    .buttoncenterstyle {
        margin-left: 1% !important;
    }

    .premiumpaymentStyle {

        position: relative;
        left: -45%;
        top: 50% !important;
    }

    .UlipFundCardStyle {
        margin-left: -4% !important;
        gap: 5vw !important;
        margin-bottom: 6vw !important;
        border-radius: 8px !important;
    }

    .iconstyle {
        padding-left: 43px !important;
        padding-top: 5px !important;
    }

}

/* this line changes here */