.progressContainer{
    margin: 24px 32px;
  padding: 22px 21px;
  object-fit: contain;
  background-color: #675ff5;
  border-radius: 8px;

}
.genderSelect{
    border-radius: 8px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    max-width: 384px;
    padding: 23px 42px;
}
.genderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.purpleText{
    font-size: 16px;
    color:#6c63ff;
    font-weight: 500;
}

@media (max-width:480px){
    .boxBreadcrumb2{
       
        padding-left: 10px !important;
    }
}