@media (max-width:480px){
    .DublicateStylelogo{
     
        margin-top: 5% !important;
    }
}
@media (width:768px){
    .DublicateStylelogo{
    
        margin-top: 5% !important;
    }
}
@media (max-width:820px){
    .DublicateStylelogo{
      
        margin-top: 5% !important;
    }
}