.mainDiv{
    width : calc( 100vw - 200px)
}
.css-a5rdam-MuiGrid-root{
    margin-top: 0 !important;
    width: 100% !important;
    margin-left: 0 !important;
}

.MuiFormControlLabel-label{
  font-size: 14px !important;
  color: #3c3e42 !important;
}
@media (width:375px){
  .transtabStyle{
    margin-left: -4px !important;
    max-width: 385px !important;
  }
  .padMarLeftRight{
    padding: 2px !important;
  
  }


}
@media (width:390px){
  .transtabStyle{
    margin-left: -13px !important;
   
  }
  .padMarLeftRight{
    padding: 2px !important;
  
  }

}
@media (width:393px){
  .transtabStyle{
    margin-left: -8px !important;
   
  }
  .padMarLeftRight{
    padding: 2px !important;
  
  }
  .BoxHTSR{
    color:  red !important;
  }
  .containerReportStyle{
    color: red !important;
  }
}

@media (width:360px) {
  .padMarLeftRight{
    padding: 2px !important;
  
  }
  .BoxHTSR{
    color:  red !important;
  }
  .containerReportStyle{
    padding: 4px !important;
  }
  
}

@media (width:280px) {
  .padMarLeftRight{
    padding: 30px !important;
  
  }
  .buttonStyeReport{
    color: red !important
  }
  .BoxHTSR{
    color:  red !important;
  }
  .containerReportStyle{
    padding: 4px !important;
  }
  .texfieldStyle{
    width: 200px !important;
  }
  .SerachStyle{
    width: 20px !important;
    color: red !important;
  }
}
/* <DrawerList sx={{
    boxShadow: "0 1px 5px 0 rgba(0, 0, 0, 0.16)",
    "& .MuiBackdrop-root" : {
      display: "none",
      flexGrow : 0,
    }
  }}
  PaperProps={{elevation: 0, sx:{width: { sm : "65px", md : "200px"}, display: { xs: "none", sm : "block"}, boxShadow: "0 1px 5px 0 rgba(0, 0, 0, 0.16)",}}}
  style={style.drawer} onClose={()=>setOpen(false)} variant="temporary" open={open}>
    <Toolbar/>
    <List sx={{py:"30px", height:"100vh"}}>
      <ListItem disablePadding sx={{ display: 'block', background:"rgba(0, 0, 0, 0.05)" }}>
        <ListItemButton
          sx={{
            minHeight: 48,
            px: 2.5,
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <HomeIcon sx={{color:"#23db7b"}}/>
          </ListItemIcon>
          <ListItemText primary="Home" sx={{ color:"#23db7b" }} />
        </ListItemButton>
      </ListItem>
      <ListItem disablePadding sx={{ display: 'block' }}>
        <ListItemButton
          sx={{
            minHeight: 56,
            px: 2.5,
            my:2
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <Assessment sx={{color:'black'}}/>
          </ListItemIcon>
          <ListItemText primary="Portfolio" sx={{ color:"black" }} />
        </ListItemButton>
      </ListItem>
      <ListItem disablePadding sx={{ display: 'block' }}>
        <ListItemButton
          sx={{
            minHeight: 56,
            px: 2.5,
            my:2
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <Search sx={{color:'black'}}/>
          </ListItemIcon>
          <ListItemText primary="Explore Funds" sx={{ color:"black" }} />
        </ListItemButton>
      </ListItem>
      <ListItem disablePadding sx={{ display: 'block',  position:"absolute", bottom:"0"}}>
        <ListItemButton
          sx={{
            minHeight: 56,
            px: 2.5,
            my:2
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <PowerSettingsNew sx={{color:'black'}}/>
          </ListItemIcon>
          <ListItemText primary="Logout" sx={{ color:"black" }} />
        </ListItemButton>
      </ListItem>
    </List>
  </DrawerList> */