.mainDiv{
    width : calc( 100vw - 200px)
}
.css-a5rdam-MuiGrid-root{
    margin-top: 0 !important;
    width: 100% !important;
    margin-left: 0 !important;
}

.MuiFormControlLabel-label{
  font-size: 14px !important;
  color: #3c3e42 !important;
}

@media (width:375px){
  .GridManageWidth{
    max-width: 84% !important;
    margin-top: 2% !important;

  }
  .GridManageWidthright{
    padding-left: 13px !important;
    margin-top: -5% !important;
  }
  .FundsSelected{
    margin-top: -20px !important;
  }

  .CardManageStyleSlected{
    
    max-width: 96% !important;
  
  }

}
@media (width:414px){
  .GridManageWidth{
    width: 352px !important;
    margin-top: 2% !important;

  }
  .CardManageStyleSlected{
    
    max-width: 387px !important;
  
  }
  .GridManageWidthright{
    padding-left: 13px !important;
    margin-top: -5% !important;
  }
  .FundsSelected{
    margin-top: -20px !important;
  }


}
@media (width:412px){
  .GridManageWidth{
    width: 347px !important;
    margin-top: 2% !important;

  }
  .CardManageStyleSlected{
    
    max-width: 384px !important;
  
  }
  .GridManageWidthright{
    padding-left: 13px !important;
    margin-top: -5% !important;
  }
  .FundsSelected{
    margin-top: -20px !important;
  }


}
@media (width:390px){
  .GridManageWidth{
    width: 324px !important;
    margin-top: 2% !important;

  }
  .CardManageStyleSlected{
    
    max-width: 361px !important;
  
  }
  .GridManageWidthright{
    padding-left: 13px !important;
    margin-top: -5% !important;
  }
  .FundsSelected{
    margin-top: -20px !important;
  }


}
@media (width:360px){
  .GridManageWidth{
    width: 297px !important;
    margin-top: 2% !important;

  }
  .CardManageStyleSlected{
    
    max-width: 333px !important;
  
  }
  .GridManageWidthright{
    padding-left: 13px !important;
    margin-top: -5% !important;
  }
  .FundsSelected{
    margin-top: -20px !important;
  }


}
@media (width:393px){
  .GridManageWidth{
    width: 329px !important;
    margin-top: 2% !important;

  }
  .GridManageWidthright{
    padding-left: 13px !important;
    margin-top: -5% !important;
  }
  .CardManageStyleSlected{
    
    max-width: 365px !important;
  
  }
  .FundsSelected{
    margin-top: -20px !important;
  }
 

}
@media (width:768px){
  .GridManageWidth{
    width: 93.5% !important;
    margin-top: 2% !important;

  }
  .CardManageStyleSlected{
    
    max-width: 100% !important;
  
  }
  .GridManageWidthright{
    padding-left: 13px !important;
    margin-top: -5% !important;
  }

  .FundsSelected{
    margin-top: -20px !important;
  }


}
@media (width:820px){
  .GridManageWidth{
    width: 94% !important;
    margin-top: 2% !important;

  }
  .CardManageStyleSlected{
    
    max-width: 100% !important;
  
  }
  .GridManageWidthright{
    padding-left: 13px !important;
   
  }
  .CardManageStyleSlected{
    
    max-width: 100% !important;
  
  }
  .FundsSelected{
    margin-top: -20px !important;
  }
 

}
@media (width:912px){
  .GridManageWidth{
    
    width: 90% !important;

  }


  .CardManageStyleSlected{
    
    max-width: 100% !important;
  
  }
  .FundsSelected{
    margin-top: -20px !important;
  }
 

}
@media (width:540px){
  .GridManageWidth{
    
    width: 90% !important;
    margin-top:  3% !important;

  }


  .CardManageStyleSlected{
    
    max-width: 100% !important;
  
  }
  .FundsSelected{
    margin-top: -20px !important;
  }
 

}
@media (width:280px){
  .GridManageWidth{
    
    width: 80% !important;
    margin-top: 3% !important;

  }


  .CardManageStyleSlected{
    
    max-width: 94% !important;
    margin-left: 10px !important;
    margin-top: -5%  !important;
  
  }
  .FundsSelected{
    margin-top: -20px !important;
  }
  .B_Selected{
    margin-top: -1% !important;
  }

 

}
@media (width:1024px){
  .GridManageWidth{
    
       width: 91% !important;
    margin-top: -5% !important;

  }


  .CardManageStyleSlected{
    
    max-width: 100% !important;
    margin-left: 10px !important;
    margin-top: -5%  !important;
  
  }
  .FundsSelected{
    margin-top: -15px !important;
  }



 

}
@media (width:1280px){
  .GridManageWidth{
    
       width: 91% !important;
    margin-top: -5% !important;

  }


  .CardManageStyleSlected{
    
    max-width: 100% !important;
    margin-left: 10px !important;
    margin-top: -5%  !important;
  
  }
  .FundsSelected{
    margin-top: -15px !important;
  }



 

}

/* // only button media queary */

@media (max-width:480px) {
  .B_Selected{
    margin-top: -15% !important;
  }  
  .ADDMOREFUNDSTYLE{
    margin-top: -3% !important;
  }
}

/* <DrawerList sx={{
    boxShadow: "0 1px 5px 0 rgba(0, 0, 0, 0.16)",
    "& .MuiBackdrop-root" : {
      display: "none",
      flexGrow : 0,
    }
  }}
  PaperProps={{elevation: 0, sx:{width: { sm : "65px", md : "200px"}, display: { xs: "none", sm : "block"}, boxShadow: "0 1px 5px 0 rgba(0, 0, 0, 0.16)",}}}
  style={style.drawer} onClose={()=>setOpen(false)} variant="temporary" open={open}>
    <Toolbar/>
    <List sx={{py:"30px", height:"100vh"}}>
      <ListItem disablePadding sx={{ display: 'block', background:"rgba(0, 0, 0, 0.05)" }}>
        <ListItemButton
          sx={{
            minHeight: 48,
            px: 2.5,
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <HomeIcon sx={{color:"#23db7b"}}/>
          </ListItemIcon>
          <ListItemText primary="Home" sx={{ color:"#23db7b" }} />
        </ListItemButton>
      </ListItem>
      <ListItem disablePadding sx={{ display: 'block' }}>
        <ListItemButton
          sx={{
            minHeight: 56,
            px: 2.5,
            my:2
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <Assessment sx={{color:'black'}}/>
          </ListItemIcon>
          <ListItemText primary="Portfolio" sx={{ color:"black" }} />
        </ListItemButton>
      </ListItem>
      <ListItem disablePadding sx={{ display: 'block' }}>
        <ListItemButton
          sx={{
            minHeight: 56,
            px: 2.5,
            my:2
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <Search sx={{color:'black'}}/>
          </ListItemIcon>
          <ListItemText primary="Explore Funds" sx={{ color:"black" }} />
        </ListItemButton>
      </ListItem>
      <ListItem disablePadding sx={{ display: 'block',  position:"absolute", bottom:"0"}}>
        <ListItemButton
          sx={{
            minHeight: 56,
            px: 2.5,
            my:2
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <PowerSettingsNew sx={{color:'black'}}/>
          </ListItemIcon>
          <ListItemText primary="Logout" sx={{ color:"black" }} />
        </ListItemButton>
      </ListItem>
    </List>
  </DrawerList> */