.textStyling {
    height: 14px;
    opacity: 0.74;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #3c3e42;
  }
  