
.container {
    /* display: block !important; */
    height: 100vh !important;
    overflow: scroll !important;
    background-color: #f9f9f9 !important;
}

.checkHeadingStack {
    padding: 8px 16px !important;
    width: 100% !important;
    height: max-content !important;
    background-color: #6c63ff !important;
}


.renderBox {
    border: solid 1px #707070 !important;
    background-color: #fff !important;
    height: 238px !important;
    width: 564px !important;
    margin: 57px 0px 0px 195px !important;
    margin-top: 55px !important;
}

.Add_Cancelled_Cheque {
    height: 48px !important;
}

.contentPaper {
    margin: 20px !important;
    height: 100% !important;
    width: 120vh !important;
    background: #fff !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 8px !important;
}

/* parent box of papper */

.mainBox {

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-inline: auto !important;
}

.previewImg {
    margin-left: 195px !important;
    margin-top: 57px !important;
    border: 1px solid black !important;
    width: 564px !important;
    height: 238px !important;
}

.ButtonGrid {
    display: inline-flex !important;
    flex-grow: 0 !important;
    max-width: 50% !important;
    flex-basis: 50% !important;
    margin-top: 45px !important;
    margin-right: 46px !important;
}

.uploadChequeButton {
    background-color: #00b4ff !important;

    height: 45px !important;
    width: 150px !important;
    border-radius: 32px !important;
}

.footerText {
    text-align: center !important;

    margin: auto !important;
    width: 100% !important;
    max-width: 1280px !important;
}

.mainPaper {
    height: max-content !important;
    /* background-color: red !important; */
}



@media only screen and (max-device-width: 480px) {

  

    .mainPaper {
        height: 62% !important;
       
    }

    .renderBox {
        width: 343px !important;
        height: 166px!important;
        margin-left: 32px ;
    }

    .contentPaper {
        margin: 20px !important;
        height: 100% !important;
        width: 120vh !important;
        background: #fff !important;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
        border-radius: 8px !important;
    }
}

@media only screen and (min-device-width:768px) {
    .mainPaper {
        height: 70% !important;
        
    }

    .previewImg {
        margin-left: 77px !important;
        margin-top: 131px !important;
        border: 1px solid black !important;
        width: 564px !important;
        height: 238px !important;
    }

    .footerText {
        text-align: center !important;
        margin-top: 50px !important;
    }
    .container {
        background-color: red;
        height: 100vh !important;
        overflow: scroll !important;
    }

    .renderBox {
        border: solid 1px #707070 !important;
        background-color: #fff !important;
        height: 238px !important;
        width: 564px !important;
        margin: 0px 0px 0px 91px !important;
        margin-top: 55px !important;
    }

    .container {
        display: block !important;
        height: 100vh !important;
        overflow: scroll !important;
        background-color: #f9f9f9 !important;
    }

}
@media only screen and (min-device-width:1280px) {
    .mainPaper {
        height: 70% !important;
        
    }

    .previewImg {
        margin-left: 77px !important;
        margin-top: 131px !important;
        border: 1px solid black !important;
        width: 564px !important;
        height: 238px !important;
    }

    .footerText {
        text-align: center !important;
        margin-top: 50px !important;
    }
    .container {
        background-color: red;
        height: 100vh !important;
        overflow: scroll !important;
    }

    .renderBox {
        border: solid 1px #707070 !important;
        background-color: #fff !important;
        height: 238px !important;
        width: 564px !important;
        margin: 0px 0px 0px 91px !important;
        margin-top: 55px !important;
    }

    .container {
        display: block !important;
        height: 100vh !important;
        overflow: scroll !important;
        background-color: #f9f9f9 !important;
    }

}



@media only screen and (max-device-width: 540px) {

  
    .renderBox {
        width: 343px !important;
        height: 166px!important;
        margin-left: 36px !important;
    }

    .contentPaper {
      
        margin-left: 74px !important;
        height: 100% !important;
        width: 120vh !important;
        background: #fff !important;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
        border-radius: 8px !important;
        background-color: red !important;
    }
}

@media only screen and (min-device-width:1580px) {
    .mainPaper {
        height: 70% !important;
        
    }

    .previewImg {
        margin-left: 77px !important;
        margin-top: 131px !important;
        border: 1px solid black !important;
        width: 564px !important;
        height: 238px !important;
    }

    .footerText {
        text-align: center !important;
        margin-top: 50px !important;
    }
    .container {
        background-color: red;
        height: 100vh !important;
        overflow: scroll !important;
    }

    .renderBox {
        border: solid 1px #707070 !important;
        background-color: #fff !important;
        height: 238px !important;
        width: 564px !important;
        margin: 0px 0px 0px 91px !important;
        margin-top: 55px !important;
    }

    .container {
        display: block !important;
        height: 100vh !important;
        overflow: scroll !important;
        background-color: #f9f9f9 !important;
    }

}
@media only screen and (min-device-width:1880px) {
    .mainPaper {
        height: 70% !important;
        
    }

    .previewImg {
        margin-left: 77px !important;
        margin-top: 131px !important;
        border: 1px solid black !important;
        width: 564px !important;
        height: 238px !important;
    }

    .footerText {
        text-align: center !important;
        margin-top: 50px !important;
    }
    .container {
        background-color: red;
        height: 100vh !important;
        overflow: scroll !important;
    }

    .renderBox {
        border: solid 1px #707070 !important;
        background-color: #fff !important;
        height: 238px !important;
        width: 564px !important;
        margin: 0px 0px 0px 91px !important;
        margin-top: 55px !important;
    }

    .container {
        display: block !important;
        height: 100vh !important;
        overflow: scroll !important;
        background-color: #f9f9f9 !important;
    }

}



@media only screen and (max-device-width: 540px) {


    .renderBox {
        width: 343px !important;
        height: 166px!important;
        margin-left: 36px !important;
    }

    .contentPaper {
        margin-left: 74px !important;
        height: 100% !important;
        width: 120vh !important;
        background: #fff !important;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
        border-radius: 8px !important;
        background-color: red !important;
    }
}

