
.OtpSuccessfullTitle{
   
  height: 26px!important;
  margin: 30px 32px 8px !important;
  font-family: Roboto !important;
  font-size: 22px !important;
  font-weight: 500;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #3c3e42 !important;
}
.OtpSuccessfullDescr{
   width: 320px;
   height: 41px;
   margin: 8px 32px 30px !important;
   font-family: Roboto!important;
   font-size: 14px!important;
   font-weight: normal!important;
   font-stretch: normal !important;
   font-style: normal !important;
   line-height: 1.43 !important;
   letter-spacing: normal !important;
   text-align: center !important;
   color: #7b7b9d !important;
}



