.progressContainer {
  margin: 24px 32px;
  padding: 22px 21px;
  object-fit: contain;
  background-color: #675ff5;
  border-radius: 8px;
}

.genderSelect {
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 384px;
  padding: 23px 42px;
}

.genderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purpleText {
  font-size: 16px;
  color: #6c63ff;
  font-weight: 500;
}

.proposalStep2Container {
  max-width: 487px;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 16px;
  margin: 16px 32px;
}

.addressCard {
  max-width: 487px;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 16px;
  margin: 16px 32px;
}

.fotterText {
  font-size: 14px;
  color: rgba(98, 100, 104, 0.74);
}
/* 
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 1px solid white !important
} */

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}
@media (width: 1024px) {
  /* .genderSelect{
        width: 185px !important;
    } */
  .progressContainer {
    width: 100% !important;
    margin-left: -50px !important;
  }
  .progressContainetwo{
    width: 97% !important;
    margin-left: 18px !important;
  }
}
@media (width: 912px) {
  /* .genderSelect{
        width: 185px !important;
    } */
  .progressContainer {
    width: 100% !important;
    margin-left: -60px !important;
  }
  .genderSelect {
    width: 305px !important;
    margin-left: -14% !important;
  }
  .progressContainetwo{
    width: 97% !important;
    margin-left: 18px !important;
  }

    .BasePlanStyle{
    
      margin-left: -54px !important;
      margin-top: 30% !important;
      }
      .Savercombo{
        margin-top: 3% !important;
        margin-left: -43% !important;
      }
      .HdfcStyle{
        padding-top: 5px !important;
        padding-left: 7px !important;
      }
      .DonetickStyle{
        width: calc(184% + 8px) !important;
  
      }
      .KnowMoreButtonStyle{
  
        margin-top: 20% !important;
      }
      .Amountstyle{
        margin-top: 3% !important;
      }
  
  /* .genderContainer{
        margin: 0 2px !important
    } */
}
@media (width: 820px) {
  /* .genderSelect{
        width: 185px !important;
    } */
  .progressContainer {
    width: 96% !important;
    margin-left: -12px !important;
  }
  .progressContainetwo{
    width: 97% !important;
    margin-left: 21px !important;
  }
  .BasePlanStyle{
    
    margin-left: -54px !important;
    margin-top: 15% !important;
    }
    .Savercombo{
      margin-top: 3% !important;
      margin-left: -43% !important;
    }
    .HdfcStyle{
      padding-top: 5px !important;
      padding-left: 7px !important;
    }
    .DonetickStyle{
      width: calc(184% + 8px) !important;

    }
    .KnowMoreButtonStyle{

      margin-top: 20% !important;
    }
    .Amountstyle{
      margin-top: 3% !important;
    }
}
@media (width: 768px) {
  /* .genderSelect{
        width: 185px !important;
    } */
  .progressContainer {
    width: 97% !important;
    margin-left: -16px !important;
  }
  .progressContainetwo{
    width: 97% !important;
    margin-left: 18px !important;
  }

  /* .genderContainer{
        margin: 0 2px !important
    } */
    .BasePlanStyle{
    
    margin-left: -53px !important;
    margin-top: 12% !important;
    }
    .Savercombo{
      margin-top: 2% !important;
      margin-left: -38% !important;
    }
    .HdfcStyle{
      padding-top: 5px !important;
      padding-left: 7px !important;
    }
    .DonetickStyle{
      width: calc(198% + 8px) !important;

    }
    .KnowMoreButtonStyle{

      margin-top: 20% !important;
    
    }
    .Amountstyle{
      margin-top: 3% !important;
    }
  
}
@media (max-width: 540px) {
  /* .genderSelect{
        width: 185px !important;
    } */
  /* .progressContainer {
  
    width: 91% !important;
    margin-left: 1px !important;

  }
  .genderSelect {
    width: 305px !important;
  } */

  .progressContainetwo{
    width: 105% !important;
    margin-left: -12px !important;
  }
  .BasePlanStyle{
    
    margin-left: -52% !important;
    }

}


@media (max-width: 480px) {
  /* .genderSelect{
        width: 185px !important;
    } */
    .textfontSize{
      font-size: 12px !important;
    }
  .progressContainer {
  
    width: 91% !important;
    margin-left: 1px !important;

  }
  .genderSelect {
    width: 305px !important;
  }

  .progressContainetwo{
    width: 100% !important;
    margin-left: 2px !important;
  }
  .KnowMoreButtonStyle{

    margin-top: 40% !important;
  }
  .BasePlanStyle{
    
    margin-left: -139% !important;
    margin-top: 10px !important;
    }
    .DonetickStyle{
      margin-top: 16px !important;
      width: calc(152% + 8px) !important;
      margin-left: -8px !important;
      /* padding-left: 7% !important; */
    }
    .Savercombo{
      margin-top: 60% !important;
    }
    .Amountstyle{
      margin-left: -46px;
    }
    .HdfcStyle{
      padding-top: 16px !important;
    }
  /* .genderContainer{
        margin: 0 2px !important
    } */
}
@media (width:414px) {
    .progressContainer {
  
        width: 90% !important;
        margin-left: -1px !important;
    
      } 
}
@media (width:390px) {
    .genderSelect {
        width: 283px !important;
    }
}

@media (width: 280px) {
  .DonetickStyle {
    margin-top: 16px !important;
    width: calc(21% + 8px) !important;
    margin-left: -8px !important;
    /* padding-left: 7% !important; */
}
.BasePlanStyle-Style{
  width: 226px !important;
  height: 80px !important;
  margin-left: -16px;
}
  .Savercombo{
    margin-top: 84% !important;
    margin-left: -38% !important;
  }
  .Amountstyle {
    margin-left: -56px !important;
    margin-top: 11px !important;
}
  .Gender_Logo_Style {
    margin-left: 8% !important;
    margin-top: 4px !important;
}
.Supertopupstyle{
  margin-top: -37%;
    padding-right: 8%;
}
  .genderSelect {
    width: 185px !important;
  }
  .progressContainer {
    width: 86% !important;
    margin-left: -10px !important;
  }
  .genderContainer {
    margin: 0 2px !important;
  }
  .progressContainetwo{
    width: 105% !important;
    margin-left: 1px !important;
  }
   .Progress__BarStyle{
    
    width: 106% !important;
   
  }

  
}

@media (width:375px) {
    .SideBarStyle{
        padding: 9px !important;
    }
    .progressContainer {
        width: 92% !important;
        margin-left: -8px !important;
    }
    .genderSelect {
        width: 261px !important;
    }
}
@media (width:393px) {
    .genderSelect {
        width: 295px !important;
    }
    .progressContainer {
        width: 93% !important;
        margin-left: -7px !important;
    }
}
@media (width:360px) {
    .genderSelect {
         width: 266px !important;
    }
    .progressContainer {
        width: 93% !important;
        margin-left: -9px !important;
    }
    .Dublicategender{

    }
}
