@media (max-width: 820px) {
  .EditDetailsButtonStyle {
    max-width: 532px !important;
    margin-left: 30px !important;
  }

  .KYCpendingStyleButton {
    max-width: 532px !important;
    margin-left: 3px !important;
  }

  .verificationStyle {
    transform: translate(-108%, 3.1%) !important;
    font-size: 12px !important;
  }
}

@media (max-width: 768px) {
  .verificationStyle {
    transform: translate(-73%, 3.1%) !important;
  }
}
@media (max-width: 650px) {
  .verificationStyle {
    transform: translate(-50%, 3.1%) !important;
  }
}

@media (max-width: 540px) {
  .EditDetailsButtonStyle {
    width: 100% !important;
    margin-left: 2% !important;
  }

  .KYCpendingStyleButton {
    margin-left: -6% !important;
    width: 104% !important;
    font-size: 10px !important;
  }

  .verificationStyle {
    transform: translate(-40%, 3.1%) !important;
  }
}

@media (max-width: 480px) {
  .textKyc{
    margin-left: 2px !important;
  }
  .verificationStyle {
    transform: translate(-13%, 3.1%) !important;
  }
}

@media (max-width: 392px) {
  .verificationStyle {
    transform: translate(-5%, 3.1%) !important;
  }
}
@media (max-width: 375px) {
  .textFontKyc{
    font-size: 9px !important;
  }
  .verificationStyle {
  }
}

@media (max-width: 280px) {
  .verificationStyle {
    transform: translate(-2%, 3.1%) !important;
    width: 100%;
    font-size: 8px !important;
  }
  .imgVarification{
    margin-left: 39px !important;
  }
}
