
@media (max-width: 820px){
    .EditDetailsButtonStyle{
        max-width: 532px !important;
        margin-left: 30px !important
    }
    .KYCpendingStyleButton{
        max-width: 532px !important;
        margin-left: 3px !important
    }
    .verificationStyle {
        padding-left: 18% !important;
        transform: translate(-62%, 12.1%) !important;
        font-size: 12px !important;
    }

}



@media (max-width: 768px){
    .verificationStyle {
        padding-left: 15% !important;
        transform: translate(-62%, 12.1%) !important;
        font-size: 12px !important;
    }
}




@media (max-width:560px){
  
    .EditDetailsButtonStyle{
     
        width: 100% !important;
        margin-left: 2% !important;
    
    }
    .KYCpendingStyleButton{
        margin-left: -6% !important;
        width: 104% !important;
        font-size: 10px !important;
       
    }
    .verificationStyle{
    
        padding-left: 15% !important;
        transform: translate(-20%, 12.1%) !important;
        font-size: 12px !important;
    }
}