.mainDiv{
    width : calc( 100vw - 200px)
}
.css-a5rdam-MuiGrid-root{
    margin-top: 0 !important;
    width: 100% !important;
    margin-left: 0 !important;
}

/* @media (max-width:2000px){
  .saveButtonstyle{
     width: 90vw !important;
  height: 11vh !important
  }
  /* width: 90vw !important;
  height: 11vh !important */





/* <DrawerList sx={{
    boxShadow: "0 1px 5px 0 rgba(0, 0, 0, 0.16)",
    "& .MuiBackdrop-root" : {
      display: "none",
      flexGrow : 0,
    }
  }}
  PaperProps={{elevation: 0, sx:{width: { sm : "65px", md : "200px"}, display: { xs: "none", sm : "block"}, boxShadow: "0 1px 5px 0 rgba(0, 0, 0, 0.16)",}}}
  style={style.drawer} onClose={()=>setOpen(false)} variant="temporary" open={open}>
    <Toolbar/>
    <List sx={{py:"30px", height:"100vh"}}>
      <ListItem disablePadding sx={{ display: 'block', background:"rgba(0, 0, 0, 0.05)" }}>
        <ListItemButton
          sx={{
            minHeight: 48,
            px: 2.5,
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <HomeIcon sx={{color:"#23db7b"}}/>
          </ListItemIcon>
          <ListItemText primary="Home" sx={{ color:"#23db7b" }} />
        </ListItemButton>
      </ListItem>
      <ListItem disablePadding sx={{ display: 'block' }}>
        <ListItemButton
          sx={{
            minHeight: 56,
            px: 2.5,
            my:2
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <Assessment sx={{color:'black'}}/>
          </ListItemIcon>
          <ListItemText primary="Portfolio" sx={{ color:"black" }} />
        </ListItemButton>
      </ListItem>
      <ListItem disablePadding sx={{ display: 'block' }}>
        <ListItemButton
          sx={{
            minHeight: 56,
            px: 2.5,
            my:2
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <Search sx={{color:'black'}}/>
          </ListItemIcon>
          <ListItemText primary="Explore Funds" sx={{ color:"black" }} />
        </ListItemButton>
      </ListItem>
      <ListItem disablePadding sx={{ display: 'block',  position:"absolute", bottom:"0"}}>
        <ListItemButton
          sx={{
            minHeight: 56,
            px: 2.5,
            my:2
          }}
        >
          <ListItemIcon
            sx={{
              minWidth: 0,
              mr: open ? 3 : 'auto',
              justifyContent: 'center',
            }}
          >
            <PowerSettingsNew sx={{color:'black'}}/>
          </ListItemIcon>
          <ListItemText primary="Logout" sx={{ color:"black" }} />
        </ListItemButton>
      </ListItem>
    </List>
  </DrawerList> */
  /* @media screen and (max-width:1024px) {
    .closeIconStyle{
    
      padding-left: 0% !important;
      margin-left: 18% !important;
    }
    .siplogoStyle{
   
      margin-left: -21% !important;
      padding-left: 1% !important;
    }
    .HelpUsStyle{
   
      padding-left: 23% !important; 
     }
     .KnowMoreStyle{
      
       padding-left: 2% !important;
     }
    
   } */
@media screen and (max-width:820px) {
 .smallmodal{
  max-width: 51% !important;  
 } 
 .NoLockinperiod{
  color: red !important;
  padding-left: 1% !important;
 }
 .iconstyle{
  padding-left: 17% !important;
 }
 .siplogoStyle{
 
  padding-left: 164px !important;
 
 
}
.HelpUsStyle{
   
  padding-left: 28% !important; 
 }
.KnowMoreStyle{
  padding-left: 16% !important;
}

}
@media screen and (max-width: 768px) {
  .smallmodal {
    max-width: 49% !important;
  }
  .closeIconStyle{
    
    padding-left: 1% !important;
  }
  .siplogoStyle{
 
    padding-left: 148px !important;
   
   
  }
  .KnowMoreStyle{
    padding-left: 11% !important;
  }
    .HelpUsStyle{
   
     padding-left: 27% !important; 
    }

}


  @media screen and (max-width: 480px) {
    .smallmodal {
      min-width: 90% !important;
    }
    .ImageIconStyle{
      color: aliceblue;
    }
    .closeIconStyle{
    
      padding-left: 1% !important;
    }
    .siplogoStyle{
   
      margin-left: 2px !important;
    }
    .HelpUsStyle{
   
     padding-left: 27% !important; 
    }
    .KnowMoreStyle{
     
      padding-left: 13% !important;
    }
 .withdraliconstyle{
  padding-left: 7% !important;
  padding-top: 5.5% !important;
  
 }
 .withlogoiconstyle_style{
  color: black !important;
  padding: 10px 5px 23px 22px !important;
 }
 .iconstyle{
  color: blue !important;
  padding-top: 11px !important;
    padding-left: 20px !important;
 }
 .NoLockinperiod {
 
  padding-left: 1% !important;
  padding-top: 14% !important;
}
.saveButtonstyle{
  width: 96vw !important;
  height: 8vh !important;
  color:red !important
}
  } 
  
  @media screen and (max-width: 375px) {
    .siplogoStyle{
   
      margin-left: -29px !important;
      padding-left: 1% !important;
    }


 
   
 
  }
  @media screen and (max-width: 375px) {
    
   
      .closeIconStyle{
    
        padding-left: 0% !important;
      }
      .siplogoStyle{
   
      
        margin-left: 337% !important;
      
      }
 
 
  }
  /* @media only screen and (min-width: 360px) and (max-width: 768px) {
    // do something in this width range.
  } */
  


