body{
    height: 100%;
    overflow-x: auto;
}
.css-hw440k{
    height: 100% !important;
}

/* input[type="password"] { -webkit-text-security: square !important; } */

input::-ms-reveal { display: none; }

