.mainDiv {
    width: calc(100vw - 200px)
}

.css-a5rdam-MuiGrid-root {
    margin-top: 0 !important;
    width: 100% !important;
    margin-left: 0 !important;
}

/* @media only screen and (min-width: 375px)
{
  
} */


.mainContainer {

    height: 100vh;
    overflow: scroll;
    background-color: white;
}

.topStack {
    width: 100%;
    height: 30px;
    margin: 66px 32px 2px;
    padding: 8px 16px;
    background-color: #6c63ff;
    height: fit-content;
}

.mainBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerPaper {
    background-color: rgb(214, 40, 40);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 62px;
    /* height: 74vh;
    width: 120vh;
    height: 685px;
    width: 1008px; */
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}



CSS
.Headline {
  width: 190px;
  height: 16px;
  margin: 0 196px 213px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #3c3e42;
}