@media (width: 280px) {
  .ButtonKnowStyle {
    display: flex !important;
  }
  .ProjectedAmount {
    font-size: 12px !important;
  }
  .RadiorightpaddingStyle {
    color: red !important;
    margin-left: 42px !important;
  }

  .BROCHURESTYLE {
    font-size: 10.5px !important;
  }
  .companyNameStyle {
    margin-left: -15px !important;
    margin-top: 5px !important;
  }
  .ImgwithtexStyle {
    margin-left: -31px !important;
  }
  .RadioButtonStyle {
    margin-left: 34px !important;
  }
  .TLITStyle {
    width: calc(211% + 40px) !important;
    display: block !important;
  }
}

@media (width: 768px) {
  .cardWrapperstyle {
    margin-left: -17px;
  }
  .ListStyle {
    color: red !important;
  }
}
@media (width: 375px) {
  .BoxShadowNone {
    box-shadow: none !important;
    padding: 12px !important;
    border-radius: 1px !important;
    width: 72% !important;
  }
  .BoxShadowNone2 {
    box-shadow: none !important;
    padding: 12px !important;
    border-radius: 1px !important;
  }
  .BROCHURESTYLE {
    font-size: 12px !important;
  }

  .ButtonKnowStyle {
    display: flex !important;
    margin-top: -6% !important;
  }

  .companyNameStyle {
    margin-left: -15px !important;
    margin-top: 4px !important;
  }
  .FontSizeTLIT {
    font-size: 8px !important;
  }
  .TaxSavingStyle {
    padding-top: 6px !important;
  }
  .radioSpace {
    padding-left: 7px !important;
  }

}
@media (width: 414px) {
  .radioSpace {
    padding-left: 7px !important;
  }

  .BoxShadowNone {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
    width: 72% !important;
  }
  .BoxShadowNone2 {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
  }
  .BROCHURESTYLE {
    font-size: 14px !important;
  }

  .ButtonKnowStyle {
    display: flex !important;
    margin-top: -4% !important;
  }

  .FontSizeTLIT {
    font-size: 8px !important;
  }
  .TaxSavingStyle {
    padding-top: 6px !important;
  }
  .radioSpace {
    padding-left: 9px !important;
  }

  .companyNameStyle {
    margin-left: -15px !important;
    margin-top: 5px !important;
  }
}

@media (width: 390px) {
  .radioSpace {
    padding-left: 7px !important;
  }

  .FontSizeTLIT {
    font-size: 8px !important;
  }
  .TaxSavingStyle {
    padding-top: 6px !important;
  }
  .BoxShadowNone {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
    width: 72% !important;
  }
  .BoxShadowNone2 {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
  }
  .BROCHURESTYLE {
    font-size: 12px !important;
  }

  .ButtonKnowStyle {
    display: flex !important;
    margin-top: -4% !important;
  }

  .companyNameStyle {
    margin-left: -15px !important;
    margin-top: 5px !important;
  }
}
@media (width: 393px) {
  .BoxShadowNone {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
    width: 72% !important;
  }
  .BoxShadowNone2 {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
  }
  .BROCHURESTYLE {
    font-size: 13px !important;
  }

  .ButtonKnowStyle {
    display: flex !important;
    margin-top: -6% !important;
  }

  .FontSizeTLIT {
    font-size: 8px !important;
  }
  .TaxSavingStyle {
    padding-top: 6px !important;
  }

  .companyNameStyle {
    margin-left: -15px !important;
    margin-top: 5px !important;
  }
  .radioSpace {
    padding-left: 7px !important;
  }
}

@media (width: 360px) {
  .BoxShadowNone {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
    width: 72% !important;
  }
  .BoxShadowNone2 {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
  }
  .BROCHURESTYLE {
    font-size: 11px !important;
  }

  .ButtonKnowStyle {
    display: flex !important;
    margin-top: -4% !important;
  }
  .FontSizeTLIT {
    font-size: 8px !important;
  }
  .TaxSavingStyle {
    padding-top: 6px !important;
  }

  .companyNameStyle {
    margin-left: -15px !important;
    margin-top: 5px !important;
  }
  .radioSpace {
    padding-left: 8px !important;
  }

}

@media (width: 412px) {
  .BoxShadowNone {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
    width: 72% !important;
  }
  .BoxShadowNone2 {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
  }
  .BROCHURESTYLE {
    font-size: 13px !important;
  }

  .ButtonKnowStyle {
    display: flex !important;
    margin-top: -4% !important;
  }
  .FontSizeTLIT {
    font-size: 8px !important;
  }
  .TaxSavingStyle {
    padding-top: 6px !important;
  }

  .companyNameStyle {
    margin-left: -15px !important;
    margin-top: 5px !important;
  }
  .radioSpace {
    padding-left: 7px !important;
  }
}

@media (width: 768px) {
  .TaxSavingStyle {
    padding-top: 10px !important;
  }
}
@media (width: 820px) {
  .TaxSavingStyle {
    padding-top: 10px !important;
  }
}
@media (width: 912px) {
  .TLITStyle {
    padding-left: 27px !important;
  }
  .FontSizeTLIT {
    font-size: 8px !important;
  }
}
@media (width: 540px) {
  .TaxSavingStyle {
    padding-top: 10px !important;
  }
  .FontSizeTLIT {
    font-size: 8px !important;
  }
  .BoxShadowNone {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
    width: 70% !important;
  }
  .BoxShadowNone2 {
    box-shadow: none !important;
    padding: 13px !important;
    border-radius: 1px !important;
  }
  .BROCHURESTYLE {
    font-size: 15px !important;
  }

  .ButtonKnowStyle {
    display: flex !important;
    margin-top: -2% !important;
  }
  .radioSpace {
    padding-left: 6px !important;
  }
}
@media (width: 1024px) {
  .TLITStyle {
    padding: 20px 21px !important;
  }
}
@media (width: 1280px) {
  .TLITStyle {
    padding: 20px 42px !important;
  }
}
