@media (width:768px){
    .cardWrapperstyle{
        margin-left: -17px;
    }
    .ListStyle{
        color: red !important;
        
    }
}
@media (width:375px){
  
    .ListStyle{
        color: red !important;
        
    }
}